.about-me-heading{
    color: #F6F4F5;
    text-align: center;
    font-size: 1.6rem;
}

.about-me-heading h2{
    border-bottom: 2px solid #656553;
    padding-bottom: 2rem;
}

.about-me-heading h4{
    border-bottom: 2px solid #656553;
}

.about-me-heading a{
    text-decoration: none;
    color: #ffb0a2;
}

.hero-section{
    color: #F6F4F5;
}

.hero-section h3{
    font-size: 1.4rem;
    /* border: 2px solid red; */
    padding-left: 2rem;
}

.hero-section .answer{
    font-size: 1.3rem;
    font-weight: 500;
}

.hero-section p{
    padding: 0 1.9rem 0 2rem;
}